body{
    font-family: "PT Root UI,Arial,Helvetica,sans-serif", sans-serif;
    background-color: #d3d3d3;
}
hr, .card{
    border-color: #666;
}
input[type="date"].form-control, input[type="time"].form-control{
    padding: 0
}
a{
    color: black;
}
.carousel-control-prev:hover,.carousel-control-next:hover {
    text-decoration: none;
    border: none;
}
.navbar-brand:hover, .navbar-brand:active{
    border: none;
}
.container{
    background-color: #ffffff;
}
.bg-info{
    background-color: #ffffff !important;
}
.navbar-dark .navbar-brand,.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-brand:hover,.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active{
    color:#000000;
}
#category .filters{
    margin: 0;
}
.text-primary a{

    color: #1FC043 !important;
}
.restaurant-map button{
    padding: 0 !important;
    background: none !important;
    border: none !important;
}
.btn{
    background-color: #1FC043;
    border-color:#1FC043;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn:hover, .btn:focus, .btn:active, .btn:visited,.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover{
    background-color: #ffffff;
    border-color:#ffffff;
    color:#1FC043;
    box-shadow: 0 0 0 0.2rem rgb(31 192 67 / 0.5);
}
.flex{
    display: flex;
}
.text-bolder{
    font-weight: bold;
}
.navbar-nav .b-nav-dropdown a:hover{
    border-bottom: none;
}
.navbar-nav .text-primary a:hover{

    border-bottom: 2px solid #1FC043;
}
.navbar-nav .btn{
    margin-left: 0.5rem;
}

a, span, p{
    font-size:16px
}

.main-search input, .main-search .btn{
    font-size: 20px;
    border-radius: 5px;
    padding: 0.6rem;

}
.main-search input{
    border:none;
}
.transparent{
    background:transparent;
    margin-top: -25vw;

}
.category{
    margin-top: calc(25vw - 200px);
}
.category{
    padding-top: 2vw
}
.main-search form{
    margin-left: auto;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: #ffffff;
}

.main-title{
    color:#fff;
    text-align: right;
}
h1{
    font-size:32px
}
h4{
    font-size: 24px;
}
.cards .card{
    cursor: pointer;
}
.cards .card-text p{
    min-height: 90px;
}
.cards .card .card-title{

    text-align: center;
}
.cards .card:hover, a:hover{
    border: 2px solid #1FC043;
    color:#1FC043;
}

.card .grade{
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
    color:#1FC043;
}
.best-category .address{
    min-height: 48px;
}
.best-category .card{
    border: 2px solid #000000;
}
.search-block{
    padding: 1rem;
}
.search-block form{
    padding: 1rem 0;
    border-radius: 8px;
    border: 1px solid;
}
.search-block .btn-group{
    display: flex;
}
.slider-track-low, .slider-track-high{
    box-shadow: inset 0 -3px 0 rgb(0 0 0 / 15%);
    border-radius: 0;
}
.slider-selection{
    box-shadow: inset 0 -3px 0 rgb(0 0 0 / 100%);
    border-radius: 0;
}
.last-filter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vs__list{
    width: 100%;
}
.vs__list-item{
    background-color: #fff;
}
.vs__item-active{
    border-left: 2px solid #1FC043;
    border-right: 2px solid #1FC043;
}

@media (max-width: 992px) {

    .mobile-full{
        width: 100% !important;
    }
}
@media (max-width:500px) {
    .main-swiper{
        overflow: hidden;
    }
    .main-swiper img{
        width: auto !important;
        height:250px;
    }
    .transparent{
        margin-top:-220px
    }
    .main-search{
        margin-top: 20px !important;
    }
    .category{
        margin-top: 20px !important;
    }

    .main-search input, .main-search .btn{
        font-size: 16px;
        border-radius: 3px;
        padding: 0.3rem;
        width:auto

    }
}

